*{
  margin: 0px;
  padding: 0px;
}

body{
  margin-top: 5em;
}

.active{
  border-bottom: solid 4px red;
}
h1{
  margin-bottom: 20px;
  text-align: center;
}
hr{
  margin-bottom: 20px;
  border: none;
  border-bottom: .5px solid;
}
form{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 600px;
  border: 1px solid;
  padding:40px;
}
form label{
  position: absolute;
  transform: translate(20px,-10px);
  font-size: 13px;
  background-color: white;
  font-weight: bold;
}
form input{
  display: block;
  margin-bottom: 10px;
  width: 95%;
  padding: 10px;
}

form input[type='submit']{
  padding: 5px 70px;
  text-align: center;
  border-radius: 12px;
  font-weight: bold;
  background-color: royalblue;
  color:white;
  font-family: sans-serif;
  font-size: 20;
}

form button{
  width: 50%;
  display: inline;
  margin: 0px;
  padding: 5px;
  border: none;
  margin-bottom: 20px;
  font-size: 20px;
}
i{
  position: absolute;
  background-color: #190452;
  color: white;
  font-size: 40px;
  padding:10px;
  width: 20px;
  text-align: center;
  transform: translate(-30px,0px);
}

#Solo, #Team{
  display: none;
}