<html lang="en">
<header>
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.4.0/jquery.maphilight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
    <title>Admin FCTF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </header>
    
<body>

<!-- Sidebar -->
<div class="sidebar">
      <h3 class="baritem heading">Menu</h3>
      <a href="index.html" class="baritem sidebutton">Manage Question</a>
      <a href="ManageTeam.html" class="baritem sidebutton">Manage Teams</a>
      <a href="#" class="baritem sidebutton">Add Alerts</a>
</div>

<!-- Page Content -->
    <div class="sidebyside">
        
        <div class="categorydrop">Linux<span class="iconsadmin"><i class="fa fa-caret-down" id="dropicon"></i>&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></div>
        <div class="linuxdrop">
            <li class="dropdownQuestions">Question<span class="points">000&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></li>
            <li class="dropdownQuestions">Question<span class="points">000&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></li>
            <li class="dropdownQuestions">Question<span class="points">000&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></li>
            <li class="dropdownQuestions">Question<span class="points">000&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></li>
            <li class="manageaddq">Add Question</li>
        </div>
        
        <div class="categorydrop">Crypto<span class="iconsadmin"><i class="fa fa-caret-down" id="dropicon"></i>&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></div>
        <div class="Cryptodrop">
            <li class="dropdownQuestions">Question<span class="points">000&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></li>
            <li class="dropdownQuestions">Question<span class="points">000&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></li>
            <li class="dropdownQuestions">Question<span class="points">000&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></li>
            <li class="dropdownQuestions">Question<span class="points">000&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></li>
            <li class="manageaddq">Add Question</li>
        </div>
        
        <div class="categorydrop">Web Exploitation<span class="iconsadmin"><i class="fa fa-caret-down" id="dropicon"></i>&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></div>
        <div class="Webdrop">
            <li class="dropdownQuestions">Question<span class="points">000&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></li>
            <li class="dropdownQuestions">Question<span class="points">000&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></li>
            <li class="dropdownQuestions">Question<span class="points">000&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></li>
            <li class="dropdownQuestions">Question<span class="points">000&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></li>
            <li class="manageaddq">Add Question</li>
        </div>
        
        <div class="categorydrop">Forensic<span class="iconsadmin"><i class="fa fa-caret-down" id="dropicon"></i>&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></div>
        <div class="Forensicdrop">
            <li class="dropdownQuestions">Question<span class="points">000&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></li>
            <li class="dropdownQuestions">Question<span class="points">000&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></li>
            <li class="dropdownQuestions">Question<span class="points">000&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></li>
            <li class="dropdownQuestions">Question<span class="points">000&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></li>
            <li class="manageaddq">Add Question</li>
        </div>
        
        <div class="categorydrop">Miscellaneous<span class="iconsadmin"><i class="fa fa-caret-down" id="dropicon"></i>&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></div>
        <div class="Miscellaneousdrop">
            <li class="dropdownQuestions">Question<span class="points">000&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></li>
            <li class="dropdownQuestions">Question<span class="points">000&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></li>
            <li class="dropdownQuestions">Question<span class="points">000&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></li>
            <li class="dropdownQuestions">Question<span class="points">000&ensp;<i id="dots"class="fa fa-ellipsis-v"></i></span></li>
            <li class="manageaddq">Add Question</li>
        </div>
        <div class="addCatebutton">Add A New Category &ensp;<i class="fa fa-plus"></i></div>
            
    </div>
   
</body>
</html>
