        <link rel="stylesheet" href="styles.css">
   
        
        <div class="modal">
            <div class="modal-content">
                <div class="modal-header">
                      <span class="close">&times;</span>
                      <h2>Linux no 1</h2>
                        
                    </div>

                    <div class="modal-body">
                      <p>What is linux?</p>
                        
                    <form class="answersubmitionform">
                        <input type="text" id="modal-input" placeholder="Flag" required>  
                         <span class="Attempt_input"></span>
                        <button class="model_Submit">Submit</button>
                    </form>
                    </div>
                    
                </div>
        </div>

