.alert {
    padding: 10px;
    background-color: red;
    color: white;
    margin-bottom: 15px;
    font-size:40;
    text-align: center;
  }
  /* ForestGreen- #228B22 MediumSeaGreen-	#3CB371  SpringGreen- #00FF7F red- #FF0000, Maroon- #800000, Aqua- #00FFFF DarkRed- #8B0000 FireBrick- #B22222 */
  
  .Close {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 50px;
    line-height: 50px;
    cursor: crosshair;
    transition: 0.2s;
  }
  
  .closebtn:hover {
    color: black;
  }