<html>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link rel="stylesheet" href="challenge.css">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="for.css">
    <title>Freedom CTF</title>
</head>

<body>
    <nav class="Menu">
        <a class="size" href="#">Freedom Cyber Chase</a>
            <img class="weak"src="https://www.lcps.org/cms/lib/VA01000195/Centricity/Template/GlobalAssets/images///logos/FreedomHS-eaglehead177x160.png" alt="Freedom">
           
    <!-- this is new code for challange--------------------->
        <ul>
            <a class="topmenu" herf="#"><li>Log Out</li></a>
            <a class="topmenu"id="totalpoints"><li>000</li></a>
            <a class="topmenu" id="TMname"><li>Team Name</li></a>
        </ul>
    <!-- this is new code for challange--------------------->
       
        <ul align="right">
            <a href="#">
                <li>News</li>
            </a>
            <a href="#">
                <li>Scoreboard</li>
            </a>
            <a href="#">
                <li>Challenges</li>
            </a>
        </ul>
    </nav>
    
    <div class="fix">    
    <table>
            <tr>
                <td class="headC1"> Challange<br>Categories</td>
            </tr>
            <tr>
                <td class="C2" id="all">All <span id="redAll" class="red">0</span></td>
            </tr>
            <tr>
                <td class="C2" id="Crypto">Cryptography <span id="redCrypto" class="red">0</span></td>
            </tr>
            <tr>
                <td class="C2" id="Linux">Linux <span id="redLinux" class="red">0</span></td>
            </tr>
            <tr>
                <td class="C2" id="WebExploi">Web Exploitation <span id="redWeb" class="red">0</span></td>
            </tr>
            <tr>
                <td class="C2" id="ETC">E.T.C. <span id="redetc" class="red">0</span></td>
            </tr>
    </table>

    <table class="solved">
             <tr>
                <td class="headC1"> Solved</td>
            </tr>

            <tr>
                <td class="C2" id="howmanysolves">No solves <span id="redetc" class="red">0</td>
            </tr>
    </table>
    </div>    
    
</html>