<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Freedom CTF</title>
</head>

<body>
    <nav>
        <a href="#">Freedom Cyber Chase
            <img src="../static/logo/FreedomHS-eaglehead177x160.png" alt=""></a>
        <ul>
            <a href="#">
                <li>News</li>
            </a>
            <a href="#">
                <li>Scoreboard</li>
            </a>
            <a href="#">
                <li>Challenges</li>
            </a>
            <a href="#">
                <li>Register</li>
            </a>
            <a href="login.html">
                <li>Login</li>
            </a>
        </ul>
    </nav>
    <header><img src="../static/logo/freedomlogo.jpg" alt=""></header>
    <main>
        <img src="" alt="">
        <h1>Welcome to Cyber Chase CTF</h1>
        <p>Cyber Chase is a free computer security game targeted at middle and high school students, created by students
            at Freedom High School. The game consists of a series of challenges centered around a unique storyline where
            participants must reverse engineer, break, hack, decrypt, or do whatever it takes to solve the challenge.
        </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore, enim esse iste quis consectetur omnis
            suscipit minus temporibus dolorum debitis molestias laborum nam sequi voluptatem illo odio itaque voluptatum
            maiores.</p>

    </main>
</body>

</html>