<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Freedom CTF</title>
</head>

<body>
    <nav>
        <a href="#">Freedom Cyber Chase
            <img src="../static/logo/FreedomHS-eaglehead177x160.png" alt=""></a>
        <ul>
            <a href="#">
                <li>News</li>
            </a>
            <a href="#">
                <li>Scoreboard</li>
            </a>
            <a href="#">
                <li>Challenges</li>
            </a>
            <a href="#">
                <li>Register</li>
            </a>
            <a href="#">
                <li>Login</li>
            </a>
        </ul>
    </nav>
    <header><img src="../static/logo/freedomlogo.jpg" alt=""></header>
    <main>
        <img src="" alt="">
        <h1>Login</h1>
        <form>
            <lable> Username 
            </lable>
            <input type="text"><br>
            <input type="text">
        </form>
    </main>
</body>

</html>