<html lang="en">

<head>
    <link rel="stylesheet" href="for.css">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Freedom CTF</title>
</head>
<body>
    <nav class="Menu">
        <a class="size" href="#">Freedom Cyber Chase</a>
            <img class="weak"src="https://www.lcps.org/cms/lib/VA01000195/Centricity/Template/GlobalAssets/images///logos/FreedomHS-eaglehead177x160.png" alt="Freedom">
        <ul>
            <a href="#">
                <li>News</li>
            </a>
            <a href="#">
                <li>Scoreboard</li>
            </a>
            <a href="#">
                <li>Challenges</li>
            </a>
            <a href="Register.html">
                <li>Register</li>
            </a>
            <a href="login.html">
                <li>Login</li>
            </a>
        </ul>
    </nav>
    <center class="relocate">
        <div class="login">
        <h1>Login</h1>
        </div>
        <div class="titlelogin">
        <form>
            <label class="log"> Team Name Or Email</label><br>
            <input type="text" style="padding: 15px;" size="50" id="username" placeholder="username"><br>
            <p></p>
            <label class="log"> Password</label><br>
            <input type="text" style="padding: 15px;" size="50" id="password" placeholder="password"> <br>
            <p></p>
            <div>
            <button class="button" Width="100px" type="button">Login</button>
        <a href="#"><button class="button" Width="100px" type="button">Forgot?</button></a> 
            </div>
        </form>
        </div>
    </center>
</body>

</html>
