<!DOCTYPE html>
<html>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.4.0/jquery.maphilight.min.js"></script>


<img src="Lower-lvl.png" usemap="#image-map" class="map">

<map name="image-map">
    <area target="" alt="L601" title="L601" href="" coords="140,94,86,31" shape="rect">
    <area target="" alt="L603" title="L603" href="" coords="191,34,146,95" shape="rect">
    <area target="" alt="L609" title="L609" href="" coords="321,30,445,98" shape="rect">
    <area target="" alt="L605" title="L605" href="" coords="198,34,263,99" shape="rect">
    <area target="" alt="L516" title="L516" href="" coords="475,125,554,189" shape="rect">
    <area target="" alt="L514" title="L514" href="" coords="473,195,557,255" shape="rect">
    <area target="" alt="L512" title="L512" href="" coords="473,263,555,313" shape="rect">
    <area target="" alt="L510" title="L510" href="" coords="472,323,558,372" shape="rect">
    <area target="" alt="L506" title="L506" href="" coords="472,409,558,467" shape="rect">
    <area target="" alt="L604" title="L604" href="" coords="355,183,249,127" shape="rect">
    <area target="" alt="L600" title="L600" href="" coords="139,147,190,184" shape="rect">
    <area target="" alt="L602" title="L602" href="" coords="196,127,242,183" shape="rect">
    <area target="" alt="L513" title="L513" href="" coords="445,222,395,188" shape="rect">
    <area target="" alt="L502" title="L502" href="" coords="474,499,554,571" shape="rect">
    <area target="" alt="L500" title="L500" href="" coords="474,596,556,670" shape="rect">
    <area target="" alt="L501" title="L501" href="" coords="395,607,446,668" shape="rect">
    <area target="" alt="L403" title="L403" href="" coords="196,322,241,379" shape="rect">
    <area target="" alt="L405" title="L405" href="" coords="246,323,292,380" shape="rect">
    <area target="" alt="L407" title="L407" href="" coords="298,322,342,380" shape="rect">
    <area target="" alt="L409" title="L409" href="" coords="346,323,393,379" shape="rect">
    <area target="" alt="L411" title="L411" href="" coords="398,320,442,321,445,368,435,383,408,381,399,373" shape="poly">
    <area target="" alt="L400" title="L400" href="" coords="143,420,153,409,178,407,190,421,190,472,144,471" shape="poly">
    <area target="" alt="L402" title="L402" href="" coords="196,412,241,471" shape="rect">
    <area target="" alt="L404" title="L404" href="" coords="246,413,294,471" shape="rect">
    <area target="" alt="L406" title="L406" href="" coords="298,412,342,471" shape="rect">
    <area target="" alt="L511" title="L511" href="" coords="395,230,444,273" shape="rect">
    <area target="" alt="L408" title="L408" href="" coords="346,412,394,471" shape="rect">
    <area target="" alt="L410" title="L410" href="" coords="398,417,406,409,436,409,446,421,446,466,398,466" shape="poly">
    <area target="" alt="L505" title="L505" href="" coords="395,498,446,557" shape="rect">
    <area target="" alt="L503" title="L503" href="" coords="394,566,446,600" shape="rect">
    <area target="" alt="L509" title="L509" href="" coords="419,281,447,315" shape="rect">
    <area target="" alt="L205" title="L205" href="" coords="261,607,291,667" shape="rect">
    <area target="" alt="L207" title="L207" href="" coords="294,607,341,667" shape="rect">
    <area target="" alt="L209" title="L209" href="" coords="345,607,393,667" shape="rect">
    <area target="" alt="L213" title="L213" href="" coords="538,678,618,717" shape="rect">
    <area target="" alt="L218" title="L218" href="" coords="534,766,576,810" shape="rect">
    <area target="" alt="L217" title="L217" href="" coords="583,766,618,810" shape="rect">
    <area target="" alt="L220" title="L220" href="" coords="537,819,602,859" shape="rect">
    <area target="" alt="L219" title="L219" href="" coords="445,768,511,810" shape="rect">
    <area target="" alt="L221" title="L221" href="" coords="446,818,508,857" shape="rect">
    <area target="" alt="L200" title="L200" href="" coords="91,697,139,758" shape="rect">
    <area target="" alt="L202" title="L202" href="" coords="142,698,190,758" shape="rect">
    <area target="" alt="L204" title="L204" href="" coords="194,696,242,758" shape="rect">
    <area target="" alt="L206" title="L206" href="" coords="246,696,290,758" shape="rect">
    <area target="" alt="L208" title="L208" href="" coords="295,697,340,757" shape="rect">
    <area target="" alt="L210" title="L210" href="" coords="347,699,393,758" shape="rect">
    <area target="" alt="L212" title="L212" href="" coords="398,698,441,757" shape="rect">
    <area target="" alt="L401" title="L401" href="" coords="139,369,151,384,190,381,190,321,142,321" shape="poly">
</map>
    
    
    </body>
</html>



<script>
    
$(function() {
    $('.map').maphilight();
});
    
</script>
