<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="for.css">
    <title>Freedom CTF</title>
</head>

<body>
    <nav class="Menu">
        <a class="size" href="#">Freedom Cyber Chase</a>
            <img class="weak"src="https://www.lcps.org/cms/lib/VA01000195/Centricity/Template/GlobalAssets/images///logos/FreedomHS-eaglehead177x160.png" alt="Freedom">
        <ul>
            <a href="#">
                <li>News</li>
            </a>
            <a href="#">
                <li>Scoreboard</li>
            </a>
            <a href="#">
                <li>Challenges</li>
            </a>
            <a href="Register.html">
                <li>Register</li>
            </a>
            <a href="login.html">
                <li>Login</li>
            </a>
        </ul>
    </nav>
</body>
<div class="godown">
<h1 class="register">Register</h1>
<body class="regbody">
<form>
    <table class="reg">
    <div class="div-inline">
    <tr>
    <td><label>Username:</label></td>
    <td><input type="text" style="padding: 12px;" size="40" id="username" placeholder="username"><br></td>
    </tr>
    <tr>
    <td><label>Password:</label></td>
    <td><input type="text" style="padding: 12px;" size="40" id="pwd" placeholder="password"> <br></td>
    </tr>
    </div>
    <tr>
    <td><label>Email:</label></td>
    <td><input type="text" style="padding: 12px;" size="40" id="Email" placeholder="Email"> <br></td>
    </tr>
    <tr>
    <td><label>Team Name:</label></td>
    <td><input type="text" style="padding: 12px;" size="40" id="Team Name" placeholder="Team Name"></td>
    </tr>
    <tr>
    <td><label>Team Member:</label></td>
    <td><input type="text" style="padding: 12px;" size="40" id="Team Member1" placeholder="Team Member1"> <br></td>
    </tr>
    <tr>
    <td><label>Team Member:</label></td>
    <td><input type="text" style="padding: 12px;" size="40" id="Team Member2" placeholder="Team Member2"> <br></td>
    </tr>
    <tr>
    <td><label>Team Member:</label></td>
    <td><input type="text" style="padding: 12px;" size="40" id="Team Member3" placeholder="Team Member3"> <br></td>
    </tr>
    </table>
</form>
    <div class="secondbutton">
    <a href="#"><button Width="100px" type="button" class="button button4">Register</button></a> 
    </div>
</div>
</body>
