<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cssbutbetter.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Freedom CTF</title>
</head>

<body>
    <nav class="Menu">
        <a class="size" href="#">Freedom Cyber Chase</a>
            <img class="weak"src="https://www.lcps.org/cms/lib/VA01000195/Centricity/Template/GlobalAssets/images///logos/FreedomHS-eaglehead177x160.png" alt="Freedom">
        <i class="material-icons menu " id="nav_menu" style="font-size:36px;color: white;float: right;padding: 5px">menu</i>
        
        <div id="overlay"></div>
        <ul id="nav_ul">
            <a href="index.html">
                <li>Home</li>
            </a>
            <a href="Scoreboard.html">
                <li>Scoreboard</li>
            </a>
            <a href="Challange.html">
                <li>Challenges</li>
            </a>
            <a href="Register.html">
                <li>Register</li>
            </a>
            <a href="login.html">
                <li>Login</li>
            </a>
        </ul>
    </nav>
</body>
<div class="godown">
<div class="regbody">
<form>
    <table class="reg">
    
<td><label>Username<a class="apple">*</a></label></td>
    <tr>
        <td><input type="text" style="padding: 8px;" size="40" id="username" placeholder="username"></td>
    </tr>
        
    <tr>
        <td class="special">Warning: Your Username may be visible to other users. Do not include your real name or any other personal information. Also username is same as the team name.</td>
    </tr><br>

        
<td><label>Password<a class="apple">*</a></label></td>
    <tr>
        <td><input type="password" style="padding: 8px;" size="40" id="pwd" placeholder="password"></td>
    </tr>

    <tr>
        <td class="reglink">Go back to <a href="logi n.html">Login.</a></td>
    </tr>
    
    <tr>
        <td class="reglink" style="padding-bottom: 15px;"><a href="#">Forgot your password?</a></td>
    </tr><br>

<!-- this is where I stopped.heeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeereeeeeeeee-->
        
    <tr>
        <td class="special">Note: Please type the lcps Email of the Team Member after typing the name of the member.</td>
    </tr>  
        
<td><label>Team Member 1<a class="apple">*</a></label></td>
    <tr>
        <td><input type="text" style="padding: 8px;" size="40" id="Team Member 1" placeholder="Team Member"> <br></td>
   
        </tr>
    <tr>
    <td><label class="email">Email<a class="apple">*</a></label></td>
        <tr>
            <td>
            <input type="Email" style="padding: 8px;" size="40" id="Email" placeholder="Student ID@lcps.org"> <br></td>
            </tr>
        
<td><label>Team Member 2</label></td>
    <tr>
        <td>
            <input type="text" style="padding: 8px;" size="40" id="Team Member 2" placeholder="Team Member"> <br></td>
        
        </tr>
    <td><label class="email">Email:</label></td>
        <tr>
            <td>
            <input type="Email" style="padding: 8px;" size="40" id="Email" placeholder="Student ID@lcps.org"> <br></td>
        </tr>
    

<td><label>Team Member 3</label></td>
    <tr>
        <td><input type="text" style="padding: 8px;" size="40" id="Team Member 3" placeholder="Team Member"> <br></td>
    
    </tr>
        
        <tr>
    <td><label class="email">Email:</label></td>
        <tr>
            <td>
            <input type="Email" style="padding: 8px;" size="40" id="Email" placeholder="Student ID@lcps.org"> <br></td>
            </tr>
        
<td><label>School Name:</label></td>
    <tr>
        <td><input type="text" style="padding: 8px;" size="40" id="school name" placeholder="School Name"> <br></td>
    </tr>
    <tr>
        <td class="special">Note: School name is opitional.</td>
    </tr>  
    </table>
</form>
    <div class="secondbutton">
        <a href="#"><button Width="100px" type="button" class="regbutton">Register</button></a> 
    </div>
</div>
    
    
    
   <script>
        
        var nav_menu = document.getElementById('nav_menu');
        var nav_ul = document.getElementById('nav_ul');
        var overlay = document.getElementById('overlay');
        
        nav_menu.addEventListener('click',()=>{
           if(overlay.className === 'overlay'){
               overlay.classList.remove('overlay');
               nav_ul.style.visibility='hidden';
           } 
            else{
                overlay.classList.add('overlay');
                nav_ul.style.visibility='visible';
            }
            
        });
        window.addEventListener('resize',()=>{
        if (window.innerWidth > 800){
            nav_ul.style.visibility='visible';
        }   
            else{
                nav_ul.style.visibility='hidden';
               overlay.classList.remove('overlay');

            }
        });

               
        
    </script>
