<html lang="en">

<head>
    <link rel="stylesheet" href="cssbutbetter.css">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Freedom CTF</title>
</head>
<body>
    <nav class="Menu">
        <a class="size" href="#">Freedom Cyber Chase</a>
            <img class="weak"src="https://www.lcps.org/cms/lib/VA01000195/Centricity/Template/GlobalAssets/images///logos/FreedomHS-eaglehead177x160.png" alt="Freedom">
        <ul>
            <a href="index.html">
                <li>Home</li>
            </a>
            <a href="Scoreboard.html">
                <li>Scoreboard</li>
            </a>
            <a href="#">
                <li>Challenges</li>
            </a>
            <a href="Register.html">
                <li>Register</li>
            </a>
            <a href="login.html">
                <li>Login</li>
            </a>
        </ul>
    </nav>    
    </body>
</html>